*.sublime-project
*.sublime-workspace
!Build/
.last_cover_stats
_build/
Build.bat
pm_to_blib
cover_db/
.build/
Makefile
Makefile.old
inc/
Build
MYMETA.yml
MYMETA.json
nytprof.out
MANIFEST.bak
blib/
MANIFEST.SKIP.bak
WebService-Connpass-*/
WebService-Connpass-v*.tar.gz